phi-api-resource-form {

    .phi-api-resource-form-field {

        margin-bottom: 24px;

        label {
            display: block;
        }

        phi-input,
        input,
        textarea,
        select {
            margin: 0;
        }        

        & > p {
            margin: 0;
            padding: 6px 0;
            font-size: 12px;
            opacity: 0.6;
        }

    }

}