.phi-visible-zoom-in[phi-visible] {
	opacity: 0;
	transform: scale(0.9);
}

.phi-visible-zoom-in[phi-visible=true] {
	opacity: 1;
	transform: scale(1);
}


.phi-visible-zoom-out[phi-visible] {
	opacity: 0;
	transform: scale(1.1);
}

.phi-visible-zoom-out[phi-visible=true] {
	opacity: 1;
	transform: scale(1);
}