$phi-visible-slide-distance: 15px;

.phi-visible-slide-top[phi-visible] {
    opacity: 0;
    transform: translate(0, -$phi-visible-slide-distance);
}

.phi-visible-slide-top[phi-visible=true] {
    opacity: 1;
    transform: translate(0, 0);
}


.phi-visible-slide-bottom[phi-visible] {
    opacity: 0;
    transform: translate(0, $phi-visible-slide-distance);
}

.phi-visible-slide-bottom[phi-visible=true] {
    opacity: 1;
    transform: translate(0, 0);
}


.phi-visible-slide-left[phi-visible] {
    opacity: 0;
    transform: translate(-$phi-visible-slide-distance, 0);
}

.phi-visible-slide-left[phi-visible=true] {
    opacity: 1;
    transform: translate(0, 0);
}


.phi-visible-slide-right[phi-visible] {
    opacity: 0;
    transform: translate($phi-visible-slide-distance, 0);
}

.phi-visible-slide-right[phi-visible=true] {
    opacity: 1;
    transform: translate(0, 0);
}