[phi-visible] {
	@include phi-transition(all);
	opacity: 0;
	z-index: -1;
	visibility: hidden;
}

[phi-visible=true] {
	opacity: 1;
	z-index: 999;
	visibility: visible;
}

/* classes specify the visibility effect (describes how it becomes visible) */