$phi-color-maps: ();

/*
USAGE:

.my-selector {

    border: 3px solid;

    @include phi-colors((
        color: 600,
        background: 50,
        border-color: 900
    ));

}


*/

@mixin phi-colors($properties) {

    & {
        @each $property, $tone in $properties {
            #{$property}: map-get($phi-color-default, $tone);
        }
    }

    @each $color-name, $color-map in $phi-color-maps {
        [phi-color-theme=#{$color-name}] & {
            @each $property, $tone in $properties {
                #{$property}: map-get($color-map, $tone);
            }
        }

        &[phi-color-theme=#{$color-name}] {
            @each $property, $tone in $properties {
                #{$property}: map-get($color-map, $tone) !important;
            }
        }
    }
}