@each $icon-name, $icon-content in $phi-icon-map {

    [phi-icon=#{$icon-name}] {
        &:before {
            font-family: FontAwesome;
            content: $icon-content;
            cursor: inherit;
            font-style: normal;
        }
    }

    [phi-icon-left=#{$icon-name}] {
        &:before {
            font-family: FontAwesome;
            content: $icon-content;
            cursor: inherit;
            font-style: normal;
            margin-right: 1ex;
        }
    }

    [phi-icon-right=#{$icon-name}] {
        &:after {
            font-family: FontAwesome;
            content: $icon-content;
            cursor: inherit;
            font-style: normal;
            margin-left: 1ex;
        }
    }

}