phi-select {

    display: inline-block;
    position: relative;

    &:before {
        @include phi-icon("fa-caret-down");
        position: absolute;
        bottom: 12px;
        right: 16px;
    }

	& > phi-input {
		display: block;
	}

}