phi-select {

    position: relative;

    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    &:after {
        @include phi-icon("fa-caret-down");
        position: absolute;
        bottom: 7px;
        right: 2px;
        opacity: 0.7;
    }

    & > phi-menu {
        max-height: 400px;
        overflow: auto;
    }

}