/**
Elements resulting HTML:
<phi-menu></phi-menu>
*/

phi-menu {
	display: block;
	position: relative;
	padding: 16px 0;

	a {
		display: block;
		cursor: pointer;
		padding: 8px 20px !important;
		text-decoration: none;
		color: #333;

		&:hover {
		    background-color: rgba(0, 0, 0, 0.03);
		}

		&:focus {
			background-color: rgba(0, 0, 0, 0.03);
			outline: 0;
		}

		&[active=true] {
			background-color: rgba(0, 0, 0, 0.1);
		}

	}

}


phi-submenu {

	display: block;

	& > .phi-submenu-label {

		position: relative;

		&:before {
			@include phi-icon("fa-caret-right");

			position: absolute;
			top: 11px;
			right: 21px;

			display: block;
			width: 1em;
			height: 1em;
			line-height: 1em;

			text-align: center;

			transform: rotate(0);
			transform-origin: center;
			@include phi-transition(transform, 60ms);
		}

	}

	& > .phi-submenu-contents {

		padding-left: $phi-spacing-gutter * 2;

		overflow: hidden;
		max-height: 0;
		@include phi-transition(max-height, 300ms);
	}

	&[expanded] {

		& > .phi-submenu-label {

			&:before {
				transform: rotate(90deg)
			}
		}

		& > .phi-submenu-contents {
			max-height: 777px;
		}

	}
}