phi-block.gallery {

    .gallery-class-picker {
        list-style: none;
        margin: 0;
        padding: 16px;

        text-align: center;

        & > li {

            cursor: pointer;

            display: inline-block;
            width: 180px;

            padding: 16px;
            margin: 0 1em;
            background-color: #eee;
            border-radius: 4px;

            h1 {
                font-size: 32px;
                margin-bottom: 6px;
                color: #333;
            }

            &:hover {
                background-color: #ddd;
            }

        }
    }
}
